[Desktop Entry]
Name=Open Link Confirmation
Comment=Ask before link opened in browser.
GenericName=Open Link
Exec=/usr/libexec/open-link-confirmation/open-link-confirmation %u
Terminal=false
X-MultipleArgs=false
Type=Application
Version=1.0
Icon=applications-webapps
Categories=Network;GTK;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Keywords=Link;
NoDisplay=true
